
.navigation{

	 margin-top: 60px;
     margin-left: 60px;
     text-align: center;   
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: black;
    text-decoration:none;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 15;
    text-align: center;


}



.navigation li {
    display: inline;
   
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
   /*  background-color: #6FB7E9; */
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    padding: 7px 15px 7px 15px;
    
}

.navigation li a:hover,
.navigation li.active a {
    background-color: black;
    color: white;
}
.blog-sidebar{}


/* widget design: subscribe */
h4.widget-subscribe {
  font-size: 21px;
  font-family: "Karla";
  color: rgb(137, 137, 137);
  line-height: 2.286;
}

p.widget-message{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(60, 60, 60);
    line-height: 1.714;
}


#email{
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(149, 149, 149);
      text-align: center;
      border-radius: 6px;
}

.subscribe-btn{
     font-size: 16px;
     font-family: "Karla";
     color: rgb(179, 15, 50);
     background: white;
     text-transform: uppercase;
     text-align: justifyRight;
     border: 1px solid #b30f32;
     border-radius: 25px;
     padding-top: 7px;
     padding-bottom: 7px;
     padding-left: 10px;
     padding-right: 10px;
 
             }

 .subscribe-btn:active{

    border: 1px solid green;
    border-radius: 25px;
 }            



/* 
.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-chevron-left:before {
    content: "\e079";
} */