/*
Theme Name: Neutrino
Author: team blue
Description:  Blog template converted to WordPress
Version: 0.0.1
Tags: bootstrap
*/


.blog-nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}
.blog-nav li a {
    color: red;
}



.blog-post{
	margin-bottom: 100px;
	margin-top: 100px;
}



/* start of sidebar */


/* 
about us pic */
.avatar{
    border-radius: 50%;
}


/* content image pic design */

.about_us{
	margin-top: 50px;
  font-size: 21px;
  font-family: "Karla";
  color: rgb(137, 137, 137);
  padding-bottom: 20px;
}
.image-content .alignnone{
	     height: auto;
          width: 100%;
       /*  padding: 5px; */
}

.image-gallery .alignnone, .single-img-post .alignnone{
        height: 200px;
        width: 49%;
        padding-bottom: 10px;

         /*  padding: 5px; */
}

.author-description{
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(70, 70, 70);
  line-height: 2;
  padding-top: 18px;
}

/* tag */
.tagcloud a{
	   /*  font-size: 18pt;
        color: black;
       
        padding: 5px; */
        color: rgb(37, 37, 37);
        font-size: 14px !important;
        font-weight: 700;
        margin-right: 30px;
        margin-bottom: 25px;
        line-height: 1.714;
        font-family: "Montserrat";
        text-transform: uppercase;
        padding: 7px;
        display: inline-block;
}

.tagcloud a:hover{
	   background: black;
	    color: white;
	    text-decoration: none;
}

.Updates {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(37, 37, 37);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.714;
  position: absolute;
  left: 1105.937px;
  top: 2839.002px;
  z-index: 80;
}


  
/* catagory */

.widget_categories{
    list-style: none;
}
.widget_tag_cloud{
    list-style: none;
}

.widgettitle{

  font-size: 21px;
  font-family: "Karla";
  color: rgb(137, 137, 137);
  line-height: 2.286;
	text-align: center;
	padding-bottom:30px;
  padding-left:25px;
  margin-top: 50px;
}

ul li.cat-item{
	list-style: none;
	text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(54, 54, 54);
  line-height: 1.714;
}

#tag_cloud-3{
	list-style: none;
}



ul li.cat-item a{
 color: black;
 font-weight: 700;

}

ul li.cat-item a:hover,ul li.current-cat a{
 color: red;
  text-decoration: none;
}

#categories-4{
	list-style: none;
}
/* end of catagoty */


/* start of feature post: */
.all-feature-post{
  margin-top: 52px;
  margin-bottom: 75px;
}

h3.feature-post{
 font-size: 21px;
 font-family: "Karla";
 color: rgb(137, 137, 137);
 line-height: 2.286;
}

h4.feature-post-title{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.714;
}
h4.feature-post-title a{
  color: #363636;
}
h4.feature-post-title a:hover{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
p.feature-details{
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(172, 172, 172);
  line-height: 4;
}

p.feature-details a.author{
  color: #8b8b8b;
}

p.feature-details a.author:hover{
  color: black;
  text-decoration: none;
}

 .feature-thumb .attachment-post-thumbnail{
      width: 65%;
 }
/* end of feature post */



/* start of latest post: */
 .all-latest-post{
  margin-bottom: 75px;
 }

h3.latest-post{
 font-size: 21px;
 font-family: "Karla";
 color: rgb(137, 137, 137);
 line-height: 2.286;
}

h4.latest-post-title{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.714;
}
h4.latest-post-title a{
  color: #363636;
}
h4.latest-post-title a:hover{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
p.latest-details{
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(172, 172, 172);
  line-height: 4;
}

p.latest-details a.author{
  color: #8b8b8b;
}

p.latest-details a.author:hover{
  color: black;
  text-decoration: none;
}

.all-most-viewed ul li{
  list-style: none;
}
/* end of latest post */



/* start of most viewed: */
.all-most-viewed{
  margin-top: 65px;
  margin-bottom: 52px;
}

h3.most-viewed-post{
 font-size: 21px;
 font-family: "Karla";
 color: rgb(137, 137, 137);
 line-height: 2.286;
}

h4.most-viewed-title{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.714;
}
h4.most-viewed-title a{
  color: #363636;
}
h4.most-viewed-title a:hover{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
p.most-viewed-details{
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(172, 172, 172);
  line-height: 4;
}

p.most-viewed-details a.author{
  color: #8b8b8b;
}

p.most-viewed-details a.author:hover{
  color: black;
  text-decoration: none;
}
/* end of most viewed */

/* end of sidebar */






   /* start of navigation menu */

/*custom menu  header */
.header-wrap{
  background: #f4f4f4;
}


#bar ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    margin: 40px 0px 36px 0px ;

}

#bar ul li{
    float:left;
    width: auto;
    display: block;

}

#bar ul li a{
    color:black;
    display:block;
    padding:0px 19px;
    text-decoration:none;
    font-size:18px;
    font-family: 'Karla', sans-serif;
    text-transform:uppercase;

}

#bar ul li:hover>a{
    background-color: skyblue;
    color:white;
}

#bar ul .current-menu-item a{
    background-color: green;
    color:white;

}

/* sub element */
.menu .sub-menu {
    left:auto;
    position: absolute;
    top: 28px;
    visibility: hidden;
    margin-top: -1px;
}

.menu li:hover .sub-menu {
    visibility: visible;

}
#bar:hover .menu {
    display: block;
}
.sub-menu li a:hover{
	color: red;
}
.social_icon_wrap{

    margin: 40px 0px 36px 0;

}
.social_icon_wrap a
{
padding-right: 10px;
color: #a1a1a1;

}
.social_icon_wrap a:hover{
  color: red;
  text-decoration: none;
}
/* end */

/*custom menu home page*/

.home_page a{
    color:black;
    display:block;
    padding:10px 10px;
    text-decoration:none;
    font-size:16px;
    font-family:tahoma;
    text-transform:uppercase;
}

.home_page a:hover{
    background-color: black;
    color:white;
    text-decoration:none;
}

.site-logo{
    margin: 40px 0 36px 0px;
}
/* end */


/* end of navigation menu */


/* for all post format */


.blog-post{
  width: 85%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog-post-meta a{
    color: black;
}

.blog-post-meta a:hover{
    color: skyblue;
    text-decoration: none;
}
/* end of it */

/* quote format styling: */

.quote-content{
    background: #fafafa;
    padding-top: 25px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 30px;
      
}

.quote-post{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(149, 149, 149);
  line-height: 3;
  text-align: center;
 
}
.quote-content .author-link,.quote-content .time-catagory,.quote-content a{
  color: black;
}

.quote-content a:hover{
  color: black;
}


.quote-post-content a{
  color: #a5a5a5;
  font-size: 38px;
    font-family: 'Karla', sans-serif;
  color: rgb(137, 137, 137);
  font-weight: bold;
  line-height: 1.263;
  text-align: center;
}

.quote-post-content a:hover{
  color: #a5a5a5;
}

.quote-title{
  font-size: 18px;
    font-family: 'Karla', sans-serif;
  color: rgb(54, 54, 54);
  font-style: italic;
  line-height: 2.667;
  text-align: right;
}

/* end of quote format styling: */


/*  start video format styling: */
.video-post{
  color: #afafaf;
  padding-top: 20px;
}

.video-content .author-link,.video-content .time-category,.video-content a{
  color: #515151;
}

.video-content a:hover{
  color: #0c4c95;
    text-decoration: none;
}

.video-title{
   padding-top: 45px;
    font-family: 'Karla', sans-serif;
}

.video-title a{
  font-size: 38px;
  font-weight: bold;
  line-height: 1.263;
}
.video-title a:hover{
    color: #000000;
    text-decoration: none;
}

/* end of video format styling */








/* start audio format style: */

 .audio-post{
    color: #afafaf;
    padding-top: 40px;
}
.audio-post .author-link{
    color: #515151;
}
.audio-post .author-link:hover{
    color: #0c4c95;
    text-decoration: none;
}
.audio-post .post-category a{
    color: #515151;
}
.audio-post .post-category a:hover{
    color: #0c4c95;
    text-decoration: none;
}

.audio-content .author-link,.audio-content .time-category,.audio-content a{
    color: #515151;

}

.audio-content a:hover{
    color: #0c4c95;
    text-decoration: none;
}

.audio-title{
    padding-top: 40px;
    font-family: 'Karla', sans-serif;
}

.audio-title a{
    font-size: 38px;
    font-weight: bold;
    line-height: 1.263;
}
.audio-title a:hover{
    color: #000000;
    text-decoration: none;
}
/* end of audio format style */





/* start of gallery format style: */

 .gallery-post{
  color: #afafaf;
  padding-bottom:42px;
 }

.gallery-content .author-link,.gallery-content .time-catagory,.gallery-content a{
  color: #515151;
}

.gallery-content a:hover{
  color: black;
}

.gallery-title{
  padding-bottom: 35px;
    font-family: 'Karla', sans-serif;
}                        

.gallery-title a{
  font-size: 38px;
  font-weight: bold;
  line-height: 1.263;
}
.gallery-title a:hover{
    color: #000000;
    text-decoration: none;
}
/* end of gallery format style */


/* start of image format style: */
.image-post{
  color: #afafaf;
  padding-top: 18px;
}

.image-content .author-link,.gallery-content .time-catagory,.image-content a{
  color: #515151;
                                                                                }

/*.image-content a:hover{*/
  /*color: black;*/
/*}*/

.image-title{
    padding-top: 40px;
    font-family: 'Karla', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
}
.image-title a {
    color: #515151;
}

.image-title a:hover {
    color: black;
    text-decoration: none;
}

  /* read more buton */
.read_more{
    color: #c64a65;
    border: 1px solid #c64a65;
    border-radius: 20px;
    margin-top: 27px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    /*color: rgb(179, 15, 50);*/
    text-transform: uppercase;
    line-height: 1.5;
    padding: 5px 15px;

}

.read_more:hover{
    text-decoration: none;
    background-color: red;
    color: #ffffff;
}


/* image post style  3 category*/

.alignright{
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}       

.alignleft{
    float: left;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
} 

.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}            
/* end of image format style */

/* start of link format style: */

 .link-post{
    color: #afafaf;
    padding-top: 18px;
 }

.link-content .author-link,.link-content .time-catagory,.link-content a{
    color: black;
                                                                                }

.link-title{
    padding-top: 40px;
    padding-bottom: 35px;
    font-family: 'Karla', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
}
.link-title a {
    color: #515151;
}
.link-title a:hover{
    color: black;
    text-decoration: none;
}

/* end of link format style */

/* start of aside format style: */

 .aside-post{
    padding-bottom:16px;
              }

.aside-content .author-link,.aside-content .time-catagory,.aside-content a{
    color: black;
                                                                                }

.aside-content a:hover{
    color: black;
}

.aside-title{
    padding-top: 40px;
    font-family: 'Karla', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
}
.aside-title a {
    color: #515151;
}
.aside-title a:hover{
    color: black;
    text-decoration: none;
}
/* end of aside format style */



/* start of chat format style: */

.chat-title{
    padding-top: 40px;
    padding-bottom: 35px;
    font-family: 'Karla', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
}
.chat-title a {
    color: #515151;
}
.chat-title a:hover{
    color: black;
    text-decoration: none;
}
/* end of chat format style */






/* start of status format style: */

.status-post{
    color: #afafaf;
    padding-bottom:20px;
              }

.status-content .author-link,.status-content .time-catagory,.status-content a{
  color: black;
                                                                                }

.status-content a:hover{
  color: black;
                        }

.status-title{
    padding-top: 40px;
    font-family: 'Karla', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
}
.status-title a {
    color: #515151;
}
.status-title a:hover{
    color: black;
    text-decoration: none;
}
/* end of status format style */




/* start of default format style: */

 .default-post{
    color: #afafaf;
    padding-bottom:20px;
 }

.default-content .author-link,.default-content .time-catagory,.default-content a{
    color: black;
}

.default-content a:hover{
    color: black;
}

.default-title{
    padding-top: 40px;
    font-family: 'Karla', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 35px;
}
.default-title a {
    color: #515151;
}
.default-title a:hover{
    color: black;
    text-decoration: none;
}
/* end of default format style */




.alignnone{
  width: 100%;
}

.wp-caption>img{
  width:50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

thead th {
    background-color: #4CAF50;
    color: white;
}

pre{
  background: #fff7e6;
}

a#site-logo>img{
    width: 100%;
    margin: 40px 0 36px 0px;
}

/* start of footer style */
.footer-wrap{
  margin-top: 40px;
    background-color: #252525;
    color: white;
}
#footer-bar ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    margin: 40px 0px 36px 0px ;
}

#footer-bar ul li{
    float:left;
    width: auto;

    font-family: 'Karla', sans-serif;
}

#footer-bar ul li a{
    display:block;
    padding:0px 15px;
    text-decoration:none;
    font-size:18px;
    text-transform:uppercase;
    color: white;
}
#footer-bar ul li a:hover{
  color: red;
}
/* end of footer style */

/* sidebar search field */

.search-field-relative{
  position: relative;
}

.ser-icon-abs {

    position: absolute;
    top: 17%;
    right: 27%;
    color: #cecece;
}

/* default search widget */
.widget_search{
  list-style: none;
}

input::-webkit-input-placeholder {
color: #cecece !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #cecece !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #cecece !important;  
}
 
input:-ms-input-placeholder {  
color: #cecece !important;  
}


.search-field{
   border: 1px solid #bfbfbf;
   border-radius: 6px;
   padding-left: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
}


/* end of sidebar search field */


/* single page styling start*/
.single-post{
   margin-top: 40px;
}

.single-post h1{
   padding-bottom: 30px;
}

.blog-post-meta{
  padding-bottom: 35px;
  padding-top: 20px;
}

.single-img-post{
  padding-bottom: 100px;
}


.thumbnail-image img{
  width: 97%;
}

.blog-post .default-content .default-post{
    margin-top: 0px;
    padding-bottom: 0px;

}

.default-content .author-link:hover{
    color: red;
    text-decoration: none;
}
.default-content .default-title{
    margin-bottom: 50px;
    padding: 0px;
}
.author-catregorized a{
    color: black;
    text-decoration: none;
}
.author-catregorized a:hover{
    color: red;
    text-decoration: none;
}

.single-post .blog-post-meta{
    color: #afafaf ;
}
/* end of single page style */




.page-thumbnail{
     padding-bottom: 20px;
}

/* header search box */
.search-barh {
    display: none;
   border-radius: 20px;
   float: right;
   box-sizing: 15px;
}

.fa-search :hover
 {
     color: honeydew;
 }
 /* end of header search box */



 /* comment  box style start: */
 


/*COMMENTS SECTION */

.comments-area{
    font-family: "Raleway";
    font-size: 12px;
    line-height: 24px;
    color: #100f0f ;
}
.comment-content p{
    font-family: "Copse";
}
.comments-area .avatar{
    max-width: none;
    width: 75px;
    height: 75px;
    padding-top: 5px;
}

.comments-area .children .avatar{
    max-width: none;
    width: 55px;
    height: 55px;
    padding-top: 5px;
}

.comments-area .avatar{
    max-width: none;
    width: 75px;
    height: 75px;
    padding-top: 5px;
}
.comments-title{
    text-align: center;
    font-size: 18px;
    font-family: 'Copse';
    color: #5b4242 ;
    padding-top:10px;
}
.comments-area .comment-respond{
    text-align: center;
    text-transform: uppercase;
}

.comments-area .form-submit {
    text-align: center;
}
.comments-area .form-submit .btn{
    background-color: white;
    color        : red;
    border-radius: 22px;
    width        : 137px;
    height       : 40px;
    font-family  : 'Karla', sans-serif;
    font-size    : 14px;
    border: 1px solid red;

}

.comments-area .form-submit .btn:hover{
    background-color: red;
    color: white;
}

.comment-list{
    margin-bottom: 88px;
}

.comment-list .comment .children{
    margin-left: 80px;
}

.comment-list li{
    margin-top: 20px;
}

.comment-list .author-name{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #43bb6e ;
    text-transform: uppercase;
}

.comment-time{
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    padding-left: 10px;
}
.comment-edit-link{
    font-size: 12px;
    color: #000;
}

.comments-area .form-submit{
    padding-top: 29px;
    padding-bottom: 29px;
}

.comment-respond h2{
    padding-bottom:30px;
    font-family: 'Karla', sans-serif;
    color: #321313 ;
    font-size: 18px;
}

.comments-area .form-control:focus{
    box-shadow: none;
    border-color: #e7e8e9 ;
}

.comment-form-comment .input-field{
    padding-bottom: 34px;
}


.comments-area .left-hr{
    float:left;
    width:42%;
    height:1px;
}

.comments-area .right-hr{
    float:right;
    width:42%;
    height:1px;
}


.comments-area .reply-icon{
    color:black;
}

#reply-title{
    font-family: 'Karla', sans-serif;
}

.input-field label{
    font-family: 'Karla', sans-serif;
}


 /* comment box end */


/* button to click top */

.topbutton {
   height:50px;
   width:50px;
   position:fixed;
   right:5px;
   bottom:5px;
   z-index:1;
   display:none;
   color: #cccccc ;
}

/* end of button top */



/* rsponsive design for image and thumbnail */

 .thumbnail-image,.wp-post-image, .attachment-medium_large,size- medium,g-background-
default,.size-full .aligncenter,size-full,attachment-thumbnail
{   
  max-width: 100%; 
  height: auto !important;  
}
.attachment-thumbnail .size-thumbnail
{   
  max-width: 100%; 
  height: auto !important;  
}
iframe{
      width: 100%;
      height: auto;
}

.size-full, .aligncenter{
    height: auto !important;
    width: 100% !important;
}

.image-gallery img,.gallery  img{
   max-width: 100%; 
  height: auto !important;
  padding: 12px;
}
.gallery-content a:hover{
  color: red;
    text-decoration: none;
}

/* end of design for image and thumbnail */



/* start design for slider: */
.slider-thumbnail-image{
  
  text-align: center;
  position: relative;
  opacity: .4;

}


.slider-thumbnail-image:hover{
  opacity: 1;
}

.slider-thumbnail-image img{
  min-height: 420px;
  max-height: 420px;
  width: 100%;

  
}

div.slide-absolute{

  

    color: white;
}

.slide-absolute h4{
     text-align: center;
     position: absolute;
     top: 105px;
     left: 5%;
     right: 5%;
     font-family: 'Karla', sans-serif;
     font-size: 38px;
     font-weight: bold;
     line-height: 1.263;
     font-weight: bold;
}

.slide-absolute .read_more{
      color: white;
      border: 1px solid white;
      border-radius: 20px;
      font-size: 14px;
      font-family: "Montserrat";
      text-align: center;
      position: absolute;
      bottom: 55px;
      left: 33%;
}


.slide-absolute .read_more:hover{
  color: red;
  background: white;
  opacity: 1;

}

 .owl-page span{
    border-radius: 0;
    width: 76px;
    height: 2px;
}


/* end design for silder */



.default-content .author-link:hover{
    color: red;
    text-decoration: none;
}
.default-content .default-title{
    margin-bottom: 50px;
    padding: 0px;
}
.author-catregorized a{
    color: black;
    text-decoration: none;
}
.author-catregorized a:hover{
    color: red;
    text-decoration: none;
}

.single-post .blog-post-meta{
    color: #afafaf;
}





